<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Migration Test Suite">
    
    <!-- Test đọc JSON -->
    <test name="Read JSON Tests">
        <classes>
            <class name="com.tests.ReadJsonByKeyTest"/>
        </classes>
    </test>
    
    <!-- Test Migration -->
    <test name="News Migration Tests">
        <parameter name="url" value="https://id.nentanggiaoduc.edu.vn/"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.NewsMigrationTest"/>
        </classes>
    </test>
    
</suite>